@model MakeFormForTIG.Models.LoginModel
<div class="container">
      <form class="form-signin" asp-controller="Home" asp-action="Login" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="Username" name="Username" class="form-control" placeholder="User name" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password"  name="Password" id="Password" class="form-control" placeholder="Password" required="">
        </br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>